# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env

# Django
*.pot
*.pyc
*.pyo
*.db

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Media/static
media/
staticfiles/
static/

# VSCode/PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db